body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-image: url(http://1-background.com/images/animal-backgrounds/dolphins-underwater-seamless-background.jpg);
}

header{
    width: 100%;
    background-color: royalblue;
    height: 128px;
    border-bottom:3px dashed;
}

.block{
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.flexcom{
	display: flex;
    flex-direction: column;
}

header div #logo{
    float: left;
    margin-right: 10px;
}

header h1{
	margin: 0 auto;
}

#navigation{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#navigation li{
    list-style-type: none;
    display: inline-block;
}

#navigation li a{
    text-decoration: none;
    color: white;
	display: block;
    padding: 15px 90px;
	font-size: 26px;
}

p{
	background-color: powderblue;
	font-family: sans-serif;
}

#types{
	text-decoration: none;
	background-color: powderblue;
	font-family: sans-serif;
	font-size:26px;
	color: darkblue;
}

#dolphin{
	vertical-align: middle;
	width: 275px;
	height: 150px;
}

table{
    color: darkblue;
	font-family: sans-serif;
order:0;
}
table tr,th{
    border: 5px solid blue;
}
table th{
    padding: 30px;
}

table tr:nth-child(odd){
    color: white;
    background-color: blue;
}

table tr:nth-child(even){
    background-color: green;
}

#back{
    width: 960px;
    margin: 0 auto;
	margin-bottom: 30px;
	background-color: powderblue;
	font-size: 26px;
	order:1;
}

footer{
    width: 100%;
	font-family: sans-serif;
	font-size: 26px;
    background-color: white;
    border-top: 3px dashed;
}

@media screen and (orientation: landscape) and (min-width: 480px){
    
.block{
        width: 960px;
    }
	
	
    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
#back{
order:1;
}
table{
order:0;
}
}