body{
    background-image: url(http://1-background.com/images/animal-backgrounds/dolphins-underwater-seamless-background.jpg);
}

.hidden{
	display: none;
}

.text{
	color: black;
}

.price{
	font-size: 36px;
}

.ava{
	width:9%;
	float:left;
	margin-right: 10px;
}

.imya{
	font-size: 36px;
	color: darkblue;
}

.city{
	font-size: 24px;
}

.desc{
	font-size:40px;
	color:black;
}

.review{
	border: 4px double black;
	background: white;
	margin: 2px 0;
}
